@font-face {
  src: url(./GeistMono-Light-DM-wO-9g.otf);
  font-family: geist;
}

body {
  --color-background: #191919;
  --color-hud-stroke: #3a3a3a;
  --color-hud: #151515;
  --color-loop-selected: #04ba81;
  --color-loop: #323332;
  --color-note-selected: #04f9ac;
  --color-note: #c6c6c6;
  --color-now: #9d9d9d;
  --color-now: #c7c7c7;
  --color-outline-hover: #d4d4d4;
  --color-piano-black: #000000;
  --color-piano-underlay: #060606;
  --color-piano-white: #cccccc;
  --color-selection-area: #077955;
  --color-stroke-secondary: #303030;
  --color-stroke: #6c6c6c;
  --color-text: #c6c6c6;
  --color-focus-stroke: #04f9ac;
  --color-focus: #c7ffed;

  --opacity-now: 0.2;

  --height: 20px;
  --height-hud: 40px;
  --width: 60px;
  --width-piano: 60px;
  --gap: 5px;

  margin: 0px;
  background: var(--color-background);
  width: 100svw;
  height: 100svh;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;

  font-size: 10pt;
  font-family: geist;
}

* {
  transition: border-color 1s;
}

#root {
  display: flex;
  width: 100%;
  width: 100%;
  height: 100%;
  height: 100%;
  overflow: hidden;
  overflow: hidden;
  touch-action: none;
}

._main_1wfpx_61 {
  position: relative;
  flex: 1;
}

._piano_1wfpx_66 {
  & rect {
    width: var(--width-piano);
  }
}

._note_1wfpx_72 {
  fill: var(--color-note);
  &._selected_1wfpx_74 {
    fill: var(--color-note-selected);
  }
}

._now_1wfpx_79 {
  fill: var(--color-now);
  pointer-events: none;
}

/* Hud */

._hud_1wfpx_86 {
  display: flex;
  position: absolute;
  top: var(--height);
  right: 0px;
  bottom: 0px;
  left: 0px;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  pointer-events: none;
}

._topHudContainer_1wfpx_99,
._bottomHudContainer_1wfpx_100 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
._bottomHudContainer_1wfpx_100 {
  flex-shrink: 0;
  align-items: end;
}

._topRightHud_1wfpx_110,
._topLeftHud_1wfpx_111,
._bottomLeftHud_1wfpx_112 {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--gap);
  margin: var(--gap);
  pointer-events: all;
}

._listContainer_1wfpx_121 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--gap);
}

._list_1wfpx_121 {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-hud-stroke);
  border-radius: 3px;
  overflow: hidden;
  color: var(--color-text);
  text-align: center;

  & > button {
    background: var(--color-hud);
    width: var(--height-hud);
    height: var(--height-hud);

    &:not(:first-child) {
      &::before {
        position: absolute;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
        border-top: 1px solid var(--color-hud-stroke);
        width: 100%;
        height: 100%;
        content: '';
      }
    }
  }
}

._topRightHud_1wfpx_110 {
  direction: rtl;
}

._bottomRightHud_1wfpx_161 {
  display: flex;
  gap: var(--gap);
  margin: var(--gap);
  pointer-events: all;

  & > div {
    display: flex;

    border: 1px solid var(--color-hud-stroke);
    border-radius: 3px;
    background: var(--color-hud);
    overflow: hidden;
    color: var(--color-text);
    text-align: center;

    & > *:not(:first-child) {
      border-left: 1px solid var(--color-hud-stroke);
    }

    & > button {
      flex: 1;
      box-sizing: border-box;
      width: var(--height-hud);
      height: var(--height-hud);
    }
  }
}

@media screen and (max-aspect-ratio: 1 / 1) {
  ._bottomRightHud_1wfpx_161 {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  ._piano_1wfpx_66 {
    width: 40px !important;
  }
}

@media screen and (max-width: 600px) {
  ._piano_1wfpx_66 {
    width: 20px !important;
  }
}

@media screen and (max-width: 400px) {
  ._piano_1wfpx_66 {
    display: none;
  }
}

@media screen and (max-height: 400px) {
  ._piano_1wfpx_66 {
    display: none;
  }
}

/* Kobalte dropdown */

._dropdown-menu__trigger_1wfpx_222 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  appearance: none;
  transition: 250ms background-color;
  outline: none;
  border-radius: 3px;
  padding: 0 16px;
  width: auto;
  height: 40px;
  overflow: hidden;
  line-height: 0;
}
._dropdown-menu__content_1wfpx_237 {
  margin-bottom: 10px;
}
._dropdown-menu__content_1wfpx_237,
._dropdown-menu__sub-content_1wfpx_241 {
  display: flex;
  flex-direction: column;
  transform-origin: var(--kb-menu-content-transform-origin);
  animation: _contentHide_1wfpx_1 250ms ease-in forwards;
  outline: none;
  border: 1px solid var(--color-hud-stroke);
  border-radius: 3px;
  background-color: var(--color-hud);
  min-width: 220px;
  overflow: hidden;
  color: var(--color-text);
}
._dropdown-menu__content_1wfpx_237[data-expanded],
._dropdown-menu__sub-content_1wfpx_241[data-expanded] {
  animation: _contentShow_1wfpx_1 250ms ease-out;
}
._dropdown-menu__item_1wfpx_258._current_1wfpx_258 {
  border-right: 2px solid var(--color-stroke);
}
._dropdown-menu__item_1wfpx_258,
._dropdown-menu__checkbox-item_1wfpx_262,
._dropdown-menu__radio-item_1wfpx_263,
._dropdown-menu__sub-trigger_1wfpx_264 {
  display: flex;
  position: relative;
  align-items: center;
  outline: none;
  padding: 5px 12px 5px 12px;
  height: 32px;
  line-height: 1;
  user-select: none;
}
._dropdown-menu__sub-trigger_1wfpx_264[data-expanded] {
  background-color: var(--color-text);
  color: var(--color-hud);
  /* background-color: hsl(204 94% 94%); */
  /* color: hsl(201 96% 32%); */
}
._dropdown-menu__item_1wfpx_258[data-disabled],
._dropdown-menu__checkbox-item_1wfpx_262[data-disabled],
._dropdown-menu__radio-item_1wfpx_263[data-disabled],
._dropdown-menu__sub-trigger_1wfpx_264[data-disabled] {
  opacity: 0.5;
  pointer-events: none;
}
._dropdown-menu__item_1wfpx_258[data-highlighted],
._dropdown-menu__checkbox-item_1wfpx_262[data-highlighted],
._dropdown-menu__radio-item_1wfpx_263[data-highlighted],
._dropdown-menu__sub-trigger_1wfpx_264[data-highlighted] {
  outline: none;
  /* background-color: hsl(200 98% 39%); */
}
._dropdown-menu__group-label_1wfpx_294 {
  padding: 0 24px;
  /* color: hsl(240 4% 46%); */
  line-height: 32px;
}
._dropdown-menu__separator_1wfpx_299 {
  margin: 6px;
  border-top: 1px solid hsl(240 6% 90%);
  height: 1px;
}
._dropdown-menu__item-indicator_1wfpx_304 {
  display: inline-flex;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
._dropdown-menu__item-right-slot_1wfpx_313 {
  margin-left: auto;
  padding-left: 20px;
  /* color: hsl(240 4% 46%); */
}
[data-highlighted] > ._dropdown-menu__item-right-slot_1wfpx_313 {
  /* color: white; */
}
[data-disabled] ._dropdown-menu__item-right-slot_1wfpx_313 {
  opacity: 0.5;
  color: hsl(240 5% 65%);
}
@keyframes _contentShow_1wfpx_1 {
  from {
    transform: scale(0.96);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes _contentHide_1wfpx_1 {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.96);
    opacity: 0;
  }
}

/* Utilities */

._button_1wfpx_348 {
  position: relative;
  transition:
    background 0.125s,
    color 0.125s;
  cursor: pointer;
  box-sizing: border-box;
  border: unset;
  background: unset;
  color: unset;
  font-family: inherit;

  &:focus-visible {
    color: var(--color-focus);

    &._active_1wfpx_363::after,
    &:hover::after {
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 0.5;
      background: radial-gradient(rgba(255, 0, 0, 0) 25%, var(--color-focus-stroke) 100%);
      width: 100%;
      height: 100%;
      content: '';
    }
    &::before {
      position: absolute;
      top: 0px;
      left: 0px;
      box-sizing: border-box;
      border: 2px solid var(--color-focus-stroke) !important;
      border-radius: 2px;
      width: 100%;
      height: 100%;
      content: '';
    }
    &:not(._horizontal_1wfpx_385) + ._button_1wfpx_348::before {
      border-top: none;
    }
    &._horizontal_1wfpx_385 + ._button_1wfpx_348::before {
      border-left: none;
    }
  }

  &:hover,
  &._active_1wfpx_363 {
    background: var(--color-text) !important;
    color: var(--color-hud);
  }

  &[disabled] {
    pointer-events: none;
    color: var(--color-hud-stroke);
  }

  &._trigger_1wfpx_404 {
    background: var(--color-note-selected);
    color: var(--color-hud);
  }
}

._numberButton_1wfpx_410 {
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  height: var(--height-hud);
  user-select: none;

  & > div {
    display: flex;
    align-content: center;
    width: 100%;
    height: 100%;
  }

  & > ._textContainer_1wfpx_425 {
    position: absolute;
    flex-direction: column;

    & > ._numberButtonLabel_1wfpx_429 {
      /* Optical padding */
      padding-top: 3px;
      pointer-events: none;
      font-size: 8pt;
    }

    & > ._numberButtonValue_1wfpx_436 {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      /* Optical padding */
      padding-bottom: 1px;
    }

    & > ._numberButtonLabel_1wfpx_429,
    & > ._numberButtonValue_1wfpx_436 {
      pointer-events: none;
      white-space: nowrap;
    }
  }

  & > ._buttonContainer_1wfpx_452 {
    position: relative;

    & > button {
      all: unset;
      display: flex;
      position: relative;
      box-sizing: border-box;
      padding: 0px var(--gap);
      /* Optical Padding */
      padding-bottom: 2px;
      width: var(--height-hud);
      color: var(--color-stroke);

      &[disabled] {
        opacity: 0.5;
        pointer-events: none;
      }

      & > div {
        display: flex;
        flex: 1;
      }

      &:first-child {
        padding-left: 3px;
      }

      &:last-child {
        padding-right: 3px;

        & > div {
          justify-content: flex-end;
        }
      }

      &::after {
        position: absolute;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        content: '';
      }

      &:hover,
      &:focus-visible {
        &:first-child::after {
          border-right: 2px solid transparent;
        }

        &:last-child::after {
          border-left: 2px solid transparent;
        }
      }

      &:hover {
        opacity: 1;
        background: inherit;
        color: var(--color-text);
        &::after {
          border: 1px solid var(--color-outline-hover);
        }
      }

      &:focus-visible {
        color: var(--color-focus) !important;
        &::after {
          border: 2px solid var(--color-focus-stroke);
        }
      }
    }
  }
}
