@font-face {
  src: url(assets/GeistMono-Light.otf);
  font-family: geist;
}

body {
  --color-background: #191919;
  --color-hud-stroke: #3a3a3a;
  --color-hud: #151515;
  --color-loop-selected: #04ba81;
  --color-loop: #323332;
  --color-note-selected: #04f9ac;
  --color-note: #c6c6c6;
  --color-now: #9d9d9d;
  --color-now: #c7c7c7;
  --color-outline-hover: #d4d4d4;
  --color-piano-black: #000000;
  --color-piano-underlay: #060606;
  --color-piano-white: #cccccc;
  --color-selection-area: #077955;
  --color-stroke-secondary: #303030;
  --color-stroke: #6c6c6c;
  --color-text: #c6c6c6;
  --color-focus-stroke: #04f9ac;
  --color-focus: #c7ffed;
  --color-hover-background: #aeaeae;

  --opacity-now: 0.2;

  --height: 20px;
  --height-hud: 40px;
  --width: 60px;
  --width-piano: 60px;
  --gap: 5px;

  margin: 0px;
  width: 100svw;
  height: 100svh;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;

  font-size: 10pt;
  font-family: geist;
}

* {
  transition: border-color 1s;
}

:global(#root) {
  display: flex;
  background: var(--color-background);
  width: 100%;
  width: 100%;
  height: 100%;
  height: 100%;
  overflow: hidden;
  overflow: hidden;
  touch-action: none;
}

.main {
  position: relative;
  flex: 1;
}

.piano {
  & rect {
    width: var(--width-piano);
  }
}

.note {
  fill: var(--color-note);
  &.selected {
    fill: var(--color-note-selected);
  }
}

.now {
  fill: var(--color-now);
  pointer-events: none;
}

/* Hud */

.hud {
  display: flex;
  position: absolute;
  top: var(--height);
  right: 0px;
  bottom: 0px;
  left: 0px;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  pointer-events: none;
}

.topHudContainer,
.bottomHudContainer {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.bottomHudContainer {
  flex-shrink: 0;
  align-items: end;
}

.topRightHud,
.topLeftHud,
.bottomLeftHud {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--gap);
  margin: var(--gap);
  pointer-events: all;
}

.listContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--gap);
}

.list {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-hud-stroke);
  border-radius: 3px;
  overflow: hidden;
  color: var(--color-text);
  text-align: center;

  & > button {
    background: var(--color-hud);
    width: var(--height-hud);
    height: var(--height-hud);

    &:not(:first-child):not(:hover) {
      &::before {
        position: absolute;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
        border-top: 1px solid var(--color-hud-stroke);
        width: 100%;
        height: 100%;
        content: '';
      }
    }
  }
}

.topRightHud {
  direction: rtl;
}

.bottomRightHud {
  display: flex;
  gap: var(--gap);
  margin: var(--gap);
  pointer-events: all;

  & > div {
    display: flex;

    border: 1px solid var(--color-hud-stroke);
    border-radius: 3px;
    background: var(--color-hud);
    overflow: hidden;
    color: var(--color-text);
    text-align: center;

    & > *:not(:first-child) {
      border-left: 1px solid var(--color-hud-stroke);
    }

    & > button {
      flex: 1;
      box-sizing: border-box;
      width: var(--height-hud);
      height: var(--height-hud);
    }
  }
}

@media screen and (max-aspect-ratio: 1 / 1) {
  .bottomRightHud {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .piano {
    width: 40px !important;
  }
}

@media screen and (max-width: 600px) {
  .piano {
    width: 20px !important;
  }
}

@media screen and (max-width: 400px) {
  .piano {
    display: none;
  }
}

@media screen and (max-height: 400px) {
  .piano {
    display: none;
  }
}

/* Kobalte dropdown */

.dropdown-menu__trigger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  appearance: none;
  transition: 250ms background-color;
  outline: none;
  border-radius: 3px;
  padding: 0 16px;
  width: auto;
  height: 40px;
  overflow: hidden;
  line-height: 0;
}
.dropdown-menu__content {
  margin-bottom: 10px;
}
.dropdown-menu__content,
.dropdown-menu__sub-content {
  display: flex;
  flex-direction: column;
  transform-origin: var(--kb-menu-content-transform-origin);
  animation: contentHide 250ms ease-in forwards;
  outline: none;
  border: 1px solid var(--color-hud-stroke);
  border-radius: 3px;
  background-color: var(--color-hud);
  min-width: 220px;
  overflow: hidden;
  color: var(--color-text);
}
.dropdown-menu__content[data-expanded],
.dropdown-menu__sub-content[data-expanded] {
  animation: contentShow 250ms ease-out;
}
.dropdown-menu__item.selected {
  border-right: 2px solid var(--color-focus-stroke);
}
.dropdown-menu__item,
.dropdown-menu__checkbox-item,
.dropdown-menu__radio-item,
.dropdown-menu__sub-trigger {
  display: flex;
  position: relative;
  align-items: center;
  outline: none;
  padding: 5px 12px 5px 12px;
  height: 32px;
  line-height: 1;
  user-select: none;
}
.dropdown-menu__sub-trigger[data-expanded] {
  background-color: var(--color-text);
  color: var(--color-hud);
  /* background-color: hsl(204 94% 94%); */
  /* color: hsl(201 96% 32%); */
}
.dropdown-menu__item[data-disabled],
.dropdown-menu__checkbox-item[data-disabled],
.dropdown-menu__radio-item[data-disabled],
.dropdown-menu__sub-trigger[data-disabled] {
  opacity: 0.5;
  pointer-events: none;
}
.dropdown-menu__item[data-highlighted],
.dropdown-menu__checkbox-item[data-highlighted],
.dropdown-menu__radio-item[data-highlighted],
.dropdown-menu__sub-trigger[data-highlighted] {
  outline: none;
  /* background-color: hsl(200 98% 39%); */
}
.dropdown-menu__group-label {
  padding: 0 24px;
  /* color: hsl(240 4% 46%); */
  line-height: 32px;
}
.dropdown-menu__separator {
  margin: 6px;
  border-top: 1px solid hsl(240 6% 90%);
  height: 1px;
}
.dropdown-menu__item-indicator {
  display: inline-flex;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.dropdown-menu__item-right-slot {
  margin-left: auto;
  padding-left: 20px;
  /* color: hsl(240 4% 46%); */
}
[data-highlighted] > .dropdown-menu__item-right-slot {
  /* color: white; */
}
[data-disabled] .dropdown-menu__item-right-slot {
  opacity: 0.5;
  color: hsl(240 5% 65%);
}
@keyframes contentShow {
  from {
    transform: scale(0.96);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes contentHide {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.96);
    opacity: 0;
  }
}

/* Utilities */

.button {
  position: relative;
  transition:
    background 0.125s,
    color 0.125s;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  border: unset;
  background: unset;
  color: unset;
  font-family: inherit;

  &:focus-visible {
    color: var(--color-focus);

    &.active {
      background: var(--color-focus-stroke) !important;
    }

    &::before {
      position: absolute;
      top: 0px;
      left: 0px;
      box-sizing: border-box;
      border: 2px solid var(--color-focus-stroke) !important;
      border-radius: 2px;
      width: 100%;
      height: 100%;
      content: '';
    }
    &:not(.horizontal) + .button::before {
      border-top: none;
    }
    &.horizontal + .button::before {
      border-left: none;
    }
  }

  &.active {
    background: var(--color-text) !important;
    color: var(--color-hud);
  }

  &:hover {
    border-radius: 2px;

    &::before {
      position: absolute;
      top: 0px;
      left: 0px;
      box-sizing: border-box;
      border: 1px solid var(--color-text);
      border-radius: 2px;
      width: 100%;
      height: 100%;
      content: '';
    }
    &:not(.horizontal) + .button::before {
      border-top: none;
    }
    &.horizontal + .button::before {
      border-left: none;
    }
  }

  &[disabled] {
    pointer-events: none;
    color: var(--color-hud-stroke);
  }

  &.trigger {
    background: var(--color-note-selected);
    color: var(--color-hud);
  }
}

.numberButton {
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  height: var(--height-hud);
  user-select: none;

  & > div {
    display: flex;
    align-content: center;
    width: 100%;
    height: 100%;
  }

  & > .textContainer {
    position: absolute;
    flex-direction: column;

    & > .numberButtonLabel {
      /* Optical padding */
      padding-top: 3px;
      pointer-events: none;
      font-size: 8pt;
    }

    & > .numberButtonValue {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      /* Optical padding */
      padding-bottom: 1px;
    }

    & > .numberButtonLabel,
    & > .numberButtonValue {
      pointer-events: none;
      white-space: nowrap;
    }
  }

  & > .buttonContainer {
    position: relative;

    & > button {
      all: unset;
      display: flex;
      position: relative;
      box-sizing: border-box;
      padding: 0px var(--gap);
      /* Optical Padding */
      padding-bottom: 2px;
      width: var(--height-hud);
      color: var(--color-stroke);

      &[disabled] {
        opacity: 0.5;
        pointer-events: none;
      }

      & > div {
        display: flex;
        flex: 1;
      }

      &:first-child {
        padding-left: 3px;
      }

      &:last-child {
        padding-right: 3px;

        & > div {
          justify-content: flex-end;
        }
      }

      &::after {
        position: absolute;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        content: '';
      }

      &:hover,
      &:focus-visible {
        &:first-child::after {
          border-right: 2px solid transparent;
        }

        &:last-child::after {
          border-left: 2px solid transparent;
        }
      }

      &:hover {
        opacity: 1;
        background: inherit;
        color: var(--color-text);
        &::after {
          border: 1px solid var(--color-outline-hover);
        }
      }

      &:focus-visible {
        color: var(--color-focus) !important;
        &::after {
          border: 2px solid var(--color-focus-stroke);
        }
      }
    }
  }
}
