.topHud {
  display: grid;
  position: fixed;
  right: 0px;

  margin: 10px;

  & > div {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-stroke);
    border-radius: 3px;
    background: var(--color-hud);
    overflow: hidden;
    color: var(--color-text);
    text-align: center;

    & > button {
      padding-right: 7px;
      padding-left: 7px;
      height: calc(var(--height) * 2);

      &:not(:last-child) {
        border-bottom: 1px solid var(--color-stroke);
      }

      &.active {
        background: var(--color-text);
        color: var(--color-hud);
      }
    }
  }
}

.bottomHud {
  display: flex;
  position: fixed;
  right: 0px;
  bottom: 0px;
  gap: 5px;
  margin: 10px;

  & > div {
    display: flex;
    border: 1px solid var(--color-stroke);
    border-radius: 3px;
    background: var(--color-hud);
    overflow: hidden;
    color: var(--color-text);
    text-align: center;

    & > *:not(:last-child) {
      border-right: 1px solid var(--color-stroke);
    }

    & > button {
      width: 60px;
    }
  }
}

.note {
  fill: var(--color-note);
  &.selected {
    fill: var(--color-note-selected);
  }
}

.now {
  fill: var(--color-now);
  pointer-events: none;
}
